.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.input {
  width: 100%;
  height: 55px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  outline: none !important;
  border: 2px solid #6a22f3;
}
.input:focus {
  outline: none !important;
  box-shadow: 0 1px 20px #6a22f399;
}

.select {
  padding: 10px;
  height: 55px;
  margin-top: 15px;
  border-radius: 8px;
  border: 2px solid #6a22f3;
}
