.error {
  font-size: 16px;
  color: red;
  padding: 12px 8px;
}

.form-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.active {
  display: block;
}
.form {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
